<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>xml</title>
    <script src="jquery-1.9.1.min.js"></script>
    <script src="template.js"></script>
    <script src="bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css"></link>
    <style> 
      .p-index {
        color: #DDD;
        font-size: 12px;
      }
      .insert {
        background-color: cornflowerblue;
        cursor: pointer;
      }
      .delete {
        background-color: #ED64A3;
        cursor: pointer;
        text-decoration: line-through;
      }
      .change-tip button{
        font-size: x-small;
        color: darksalmon;
      }
      .main {
        width: 100%;
      }
      .main div {
        float: left;
      }
      #word {
      	width: 50%; 
      	margin:0 15px;
      	height: 100%;
      	overflow-y: auto;
      	position: fixed;
		    left: 0; 
      }
      #side {
        width: 48%;
        padding-left: 15px;
        position: fixed;
		    right: 0;
		    height: 100%;
		    overflow-y: auto;
		    border-left: 2px dotted #333;
      }
      #side div {float: none;}
      /*.vertical-line {
        display: inline-block;
        position: absolute;
        top:0;
        bottom: 0;
        border-left: 2px #CCC dotted;
      }*/
      .every-comment {
		    border: 1px solid #e1e1e8;
		    border-radius: 4px;
		    margin: 0 15px 15px 0;
      }
      .comment-header {
  	    background-color: #f7f7f9;
  	    padding: 5px 10px;
      }
      .comment-body {
      	padding: 5px 10px;
      }
    </style>
  </head>
  <body>
		<div class="main">
      <div id="word"></div>
      <div id="side">
        <div id="comment-table"></div>
      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Title</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
	              <label class="col-sm-3 control-label">陈述原因：</label>
	              <div class="col-sm-9">
	                <textarea class="form-control reason" rows="3"></textarea>
	              </div>
		          </div>
		          <div class="form-group">
	              <label class="col-sm-3 control-label">错误评级：</label>
	              <div class="col-sm-9">
	                <select class="form-control wrongLevel">
	                  <option value="A1">A1</option>
		                <option value="A2">A2</option>
		                <option value="A3">A3</option>
		                <option value="B1">B1</option>
		                <option value="B2">B2</option>
		                <option value="B3">B3</option>
		                <option value="C1">C1</option>
		                <option value="C2">C2</option>
		                <option value="C3">C3</option>
	              	</select>
	            	</div>
	          	</div>
         		</form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" onclick="addComment()">确定</button>
          </div>
        </div>
      </div>
    </div>

    <script id="comment-table-tmpl" type="text/html">
      <h4>列表</h4>
      {{each comments as comment i}}  
        <div class="every-comment">
          <div class="comment-header">
            <strong>{{i + 1}}. {{comment.position}}</strong> 
            <span class="text-right">错误等级：{{comment.wrongLevel}}</span>
          </div>
          <div class="comment-body">
            <blockquote>
              {{if comment.changeType === 'insert'}}
                <footer><cite title="Source Title">插入内容</cite></footer>
                <p>{{comment.nowComment}}</p>
              {{else if comment.changeType === 'delete'}}
                <footer><cite title="Source Title">删除内容</cite></footer>
                <p>{{comment.oldComment}}</p>
              {{else if comment.changeType === 'replace'}}
                <footer><cite title="Source Title">现内容</cite></footer>
                <p>{{comment.nowComment}}</p>
                <hr>
                <footer><cite title="Source Title">原内容</cite></footer>
                <p>{{comment.oldComment}}</p>
              {{/if}}
            </blockquote>
            <div>
              <i>修改原因：</i>
              <p>{{comment.reason}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </script>

		<script id="test-word" type="text/html">
      {{each pList as value i}}
          {{if value.type === 'table'}}
	          <p id='p{{i+1}}'> 
	          	<span class="p-index"> 第 {{i + 1}} 段 :</span>
	            <table class="table table-striped">
	              {{each value.data as tr}}
	                <tr>
	                  {{each tr as td}}
	                    <td>
	                    	{{each td as text}}
	                    		{{if text.type === 'text'}}
	                    			{{text.content}}
	                    		{{else if text.type === 'insert'}}
		                    		<span class="change-tip" change-type="insert">
		                    			<span class='insert' >{{text.content}}</span>
		                    			<button title-info="第{{text.position.duan}}段,第{{text.position.chu}}处" class='btn btn-default btn-xs operate-comment' data-toggle="modal" data-target="#myModal" >评价</button>
		                    		</span>
	                    		{{else if text.type === 'delete'}}
		                    		<span class="change-tip" change-type="delete">
		                    			<span class='delete' >{{text.content}}</span>
		                    			<button title-info="第{{text.position.duan}}段,第{{text.position.chu}}处" class='btn btn-default btn-xs operate-comment' data-toggle="modal" data-target="#myModal" >评价</button>
		                    		</span>
	                    		{{else if text.type === 'delAndIns'}}
		                    		<span class="change-tip" change-type="replace">
		                    			<span class='delete'>{{text.content[0]}}</span>
		                    			<span class='insert' >{{text.content[1]}}</span>
		                    			<button title-info="第{{text.position.duan}}段,第{{text.position.chu}}处" class='btn btn-default btn-xs operate-comment' data-toggle="modal" data-target="#myModal" >评价</button>
		                    		</span>
	                    		{{else if text.type === 'insAndDel'}}
		                    		<span class="change-tip" change-type="replace">
		                    			<span class='insert'>{{text.content[0]}}</span>
		                    			<span class='delete' >{{text.content[1]}}</span>
		                    			<button title-info="第{{text.position.duan}}段,第{{text.position.chu}}处" class='btn btn-default btn-xs operate-comment' data-toggle="modal" data-target="#myModal" >评价</button>
		                    		</span>
	                    		{{/if}}
	                    	{{/each}}
	                    </td>
	                  {{/each}}
	                <tr>
	              {{/each}}
	            </table>
	          </p>
          {{else if value.type === 'section'}}
            <p id='p{{i+1}}' style="font-size:{{value.fontSize/2}}pt;text-align:{{value.textAlign}}"> 
	          	<span class="p-index"> 第 {{i + 1}} 段 :</span>
	          	{{each value.data as w i}}
	          		{{if w.type === 'text'}}
            			{{w.content}}
            		{{else if w.type === 'insert'}}
            			<span class="change-tip" change-type="insert">
	            			<span class='insert' >{{w.content}}</span>
	            			<button title-info="第{{w.position.duan}}段,第{{w.position.chu}}处" class='btn btn-default btn-xs operate-comment' data-toggle="modal" data-target="#myModal" >评价</button>
	            		</span>
            		{{else if w.type === 'delete'}}
            			<span class="change-tip" change-type="delete">
            				<span class='delete' >{{w.content}}</span>
            				<button title-info="第{{w.position.duan}}段,第{{w.position.chu}}处" class='btn btn-default btn-xs operate-comment' data-toggle="modal" data-target="#myModal" >评价</button>
            			</span>
            		{{else if w.type === 'delAndIns'}}
		            	<span class="change-tip" change-type="replace">
		            		<span class='delete'>{{w.content[0]}}</span>
	            			<span class='insert' >{{w.content[1]}}</span>
	            			<button title-info="第{{w.position.duan}}段,第{{w.position.chu}}处" class='btn btn-default btn-xs operate-comment' data-toggle="modal" data-target="#myModal" >评价</button>
	            		</span>
            		{{else if w.type === 'insAndDel'}}
            			<span class="change-tip" change-type="replace">
            				<span class='insert'>{{w.content[0]}}</span>
            				<span class='delete' >{{w.content[1]}}</span>
            				<button title-info="第{{w.position.duan}}段,第{{w.position.chu}}处" class='btn btn-default btn-xs operate-comment' data-toggle="modal" data-target="#myModal" >评价</button>
            			</span>
            		{{else}}
            		{{/if}}
	          	{{/each}}
            </p>        
          {{else}}
          {{/if}}
        
      {{/each}}
    </script>


		
  	<script>
	    var loadXML = function (xmlFile) {
        var xmlDoc;
        var xmlhttp = new window.XMLHttpRequest();
        xmlhttp.open("GET",xmlFile,false);
        xmlhttp.send(null);
        if(xmlhttp.readyState == 4){
          xmlDoc = xmlhttp.responseXML.documentElement;
        } 
        return xmlDoc;
      };
      var checkXMLDocObj = function(xmlFile) {
        var xmlDoc = loadXML(xmlFile);
        if (xmlDoc == null) {
          alert('您的浏览器不支持xml文件读取,于是本页面禁止您的操作,推荐使用IE5.0以上可以解决此问题!');
          window.location.href = '../err.html';
        }
        return xmlDoc;
      };

      var xmlDoc = checkXMLDocObj('document.xml');
      console.log(xmlDoc);

      var allP = xmlDoc.querySelectorAll('body > *'); //已包含表格里的p
      console.log(allP);

      var allPDetail = [];
		  for (var i = 0; i < (allP.length - 1); i++) {
		  	allPDetail[i] = {
		  		'type': '', //表格还是段落
		  		'fontSize': '', //字体大小
		  		'textAlign': 'left', //对齐方式
		  		'data': []
		  	};
		  	if (allP[i].nodeName === 'w:tbl') {
		  		allPDetail[i].type = 'table';

		  		var allTr = allP[i].querySelectorAll('tr');
		  		$.map(allTr, function(value, index){
		  			var tr = [];
		  			$.map(value.querySelectorAll('tc'), function(innerValue, innerIndex){
		  				var tc = [];
		  				
		  				$.map(innerValue.querySelectorAll('p > *'), function(iVal, iIdx){
		  					var innerTc = {
			  					'type': '',
			  					'content': ''
			  				};
			  				
		  					if (iVal.nodeName === 'w:ins') {
		  						innerTc.type = 'insert';
		  						innerTc.content = iVal.textContent;
			  					tc.push(innerTc);
		  					} else if (iVal.nodeName === 'w:del') {
		  						innerTc.type = 'delete';
		  						innerTc.content = iVal.textContent;
				  				tc.push(innerTc);
		  					} else if (iVal.nodeName === 'w:r') {
		  						innerTc.type = 'text';
		  						innerTc.content = iVal.textContent;
				  				tc.push(innerTc);
		  					}
		  					
		  				}); 
		  				if(tc.length !== 0){
		  					tr.push(tc);
		  				}
		  			});
		  			if(tr.length !== 0){
		  				allPDetail[i].data.push(tr);
		  			}
		  		});
		  	} else if(allP[i].nodeName === 'w:p') {
		  		allPDetail[i].type = 'section';
		  		if(allP[i].querySelector('pPr > jc')){
		  			allPDetail[i].textAlign = allP[i].querySelector('pPr > jc').getAttribute('w:val');
		  		}
		  		if(allP[i].querySelector('pPr > rPr > szCs')){
		  			allPDetail[i].fontSize = allP[i].querySelector('pPr > rPr > szCs').getAttribute('w:val');
		  		}

		  		var pChildren = allP[i].children;
		  		$.map(pChildren, function(value, index){
		  			var innerP = {};

		  			if (value.nodeName === 'w:ins') {
							innerP.type = 'insert';
							innerP.content = value.textContent;
			  			allPDetail[i].data.push(innerP);
						} else if (value.nodeName === 'w:del') {
							innerP.type = 'delete';
							innerP.content = value.textContent;
			  			allPDetail[i].data.push(innerP);
						} else if (value.nodeName === 'w:r') {
							innerP.type = 'text';
							innerP.content = value.textContent;
			  			allPDetail[i].data.push(innerP);
						}
		  		
		  		});
		  	}
		  }
		  console.log(allPDetail);

		  //合并修改为一处,并记录位置
		  $.map(allPDetail, function(pDetail,i){
		  	
		  	if(pDetail.type === 'section'){
		  		var data = pDetail.data;
		  		for(var j=1;j<data.length;j++){
		  			if((data[j].type !== 'text')&&(data[j-1].type !== 'text')){
		  				//插入新的节点，把j和j-1位置的type都置text
		  				var obj = {};
		  				if(data[j].type === 'insert'){
		  					obj.type = 'delAndIns';
		  				}else{
		  					obj.type = 'insAndDel';
		  				}
		  				//pDetail.data[j-1].type = pDetail.data[j].type = 'text';
		  				obj.content = [data[j-1].content, data[j].content];
		  				pDetail.data.splice(j-1,2,obj);
		  			}
		  		}
		  		
		  	}else if(pDetail.type === 'table'){
		  		$.map(pDetail.data, function(tr,index){
		  			$.map(tr, function(td,idx){
		  				var data = td;
		  				for(var y=1;y<data.length;y++){
		  					if((data[y].type !== 'text')&&(data[y-1].type !== 'text')){
		  						var obj = {};
				  				if(data[y].type === 'insert'){
				  					obj.type = 'delAndIns';
				  				}else{
				  					obj.type = 'insAndDel';
				  				}
				  				obj.content = [data[y-1].content, data[y].content];
				  				td.splice(y-1,2,obj);
		  					}
		  				}

		  			});
		  		});
		  	}
		  });
			
			for(var x=0;x<allPDetail.length;x++){
				var chu = 1;
				if(allPDetail[x].type === 'section'){
					for(var y=0;y<allPDetail[x].data.length;y++){
						if(allPDetail[x].data[y].type !== 'text'){
							allPDetail[x].data[y].position = {};
							allPDetail[x].data[y].position.duan = x + 1;
							allPDetail[x].data[y].position.chu = chu;
							chu++;
						}
					}
				}else{
					for(var z=0;z<allPDetail[x].data.length;z++){
						for(var i=0;i<allPDetail[x].data[z].length;i++){
							for(var j=0;j<allPDetail[x].data[z][i].length;j++){
								if(allPDetail[x].data[z][i][j].type !== 'text'){
									allPDetail[x].data[z][i][j].position = {};
									allPDetail[x].data[z][i][j].position.duan = x + 1;
									allPDetail[x].data[z][i][j].position.chu = chu; 
									chu++;
								}
							}
						}
					}
				}
			}

			console.log(allPDetail);
		  $('#word').html(template('test-word',{pList: allPDetail}));

		  var comments = [];
      var comment = {};
      var i=0;
      $('.operate-comment').click(function(){
        var $this = $(this);
        
        var title = $this.attr('title-info');
        comment.position = title;
        $('.modal-title').text(title);
        var changeNode = $this.parent('.change-tip');
        var changeType = changeNode.attr('change-type');
        comment.oldComment = '';
        comment.nowComment = '';
        if(changeType === 'delete'){
          comment.changeType = 'delete';
          comment.oldComment = changeNode.children('.delete').text();
        }else if(changeType === 'insert'){
          comment.changeType = 'insert';
          comment.nowComment = changeNode.children('.insert').text();
        }else if(changeType === 'replace'){
          comment.changeType = 'replace';
          comment.oldComment = changeNode.children('.delete').text();
          comment.nowComment = changeNode.children('.insert').text();
        }
      });
      function addComment(){
        comment.reason = $('.reason').val();
        comment.wrongLevel = $('.wrongLevel').val();
        if(comment.reason === ''){
          alert('原因不能为空！');
        }else{
          comments[i] = {};
          comments[i].position = comment.position;
          comments[i].oldComment = comment.oldComment;
          comments[i].nowComment = comment.nowComment;
          comments[i].reason = comment.reason;
          comments[i].wrongLevel = comment.wrongLevel;
          comments[i].changeType = comment.changeType;
          i++;

          $('#comment-table').html(template('comment-table-tmpl',{comments: comments}));
          $('.reason').val('');
          $('.wrongLevel').val('A1'); 
          $('#myModal').modal('hide');
          console.log(comment);
          console.log(comments)

        }
      }

    </script>
  </body>
</html>